/* Tailwind css directive */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* touch-action: none !important; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --primary-color: rgb(79 70 229);
    --secondary-color: #2dad66;
    --white: #ffffff;
    --black: #000000;
    --grey: rgba(26, 26, 26, 1);
    --background: rgba(249, 250, 255, 1);
}
